@using Microsoft.AspNetCore.Components.Authorization
@using BeerEconomy.Common.ApiClients
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ICollectorService Collector
<RadzenComponents/>

<RadzenLayout>
    <RadzenHeader>
      <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
          <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"/>
          <RadzenLabel Text="Beer Economy Admin"/>
      </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
      <RadzenPanelMenu>
          <RadzenPanelMenuItem Text="Пивы" Icon="sports_bar" Path="/beers"/>
          <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Цены" Icon="money" Click="@(async () => await Collector.StartAsync(CancellationToken.None))" />
      </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
      <div class="rz-p-4">
          @Body
      </div>
    </RadzenBody>
</RadzenLayout>



@code {
    private bool _sidebarExpanded = true;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (!authState.User.Identity!.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}